<div class="post-modal modal fade" id="post-{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="#post-{{ article.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                        <!-- Post Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/post/post-{{ article.id }}.png" alt="Picture post-{{ article.id }}"/>
                            <!-- Post Modal - Title-->
                            <h2 class="post-modal-title text-secondary mb-0">{{ article.title }}</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Post Modal - Text-->
                            <p class="mb-5">{{ article.content | u.truncate(500, '...')}}</p>
                            <p class="text-left"><a href="#">[Lire la suite]</a></p>
                            <p class="text-right">Posté le: {{ article.dateArticle }}</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>