{% extends 'frontend_layout.twig' %}

{% block content %}

    <!-- HEADER -->
    <header class="masthead bg-primary text-white text-center" id="page-top">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" src="assets/img/avatar/avatar_admin.svg" alt="">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0">Jérémy JACQUET</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Développeur PHP / MySQL</p>
        </div>
    </header>

    <div class="container">

        <!-- LAST POSTS -->
        <section class="page-section post" id="actu">
                <div class="container">
                    <!-- Posts Section Heading-->
                    <div class="text-center">
                        <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Derniers articles</h2>
                    </div>
                    <!-- Icon Divider-->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                    <!-- Posts Grid Items-->
                    <div class="row justify-content-center">
                        {% for article in articles %}
                            <!-- Posts Items-->
                            <div class="col-md-6 mb-5">
                                <div class="post-item mx-auto" data-toggle="modal" data-target="#post-{{ article.id }}">
                                    <div class="post-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                        <div class="post-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                    </div>
                                    <img class="img-fluid" src="assets/img/post/post-{{ article.id }}.png" alt="Picture post-{{ article.id }} "/>
                                    <p class="thumbnail-title">{{ article.title }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </section>

        <!-- Post Modal-->
        {% for article in articles %}
            {{ include('includes/modals/post_home.twig') }}
        {% endfor %}

        <!-- ALL POSTS -->
        <section class="page-section bg-primary text-white" style="margin-bottom: 100px" id="articles">
            <div class="container">
                <!-- About Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading d-inline-block"><a class="a-white" href="{{ URL }}articles">Tous les articles</a></h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-3 ml-auto">
                        <h3><a class="a-white" href="{{ URL }}categories/1">Catégorie 1</a></h3>
                        <p class="lead">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                    <div class="col-lg-3 mx-auto">
                        <h3><a class="a-white" href="{{ URL }}categories/1">Catégorie 2</a></h3>
                        <p class="lead">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                    <div class="col-lg-3 mr-auto">
                        <h3><a class="a-white" href="{{ URL }}categories/1">Catégorie 3</a></h3>
                        <p class="lead">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT -->
        <section class="page-section bg-primary text-white mb-0" id="a_propos">
            <div class="container">
                <!-- About Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading d-inline-block text-white">A propos</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        <p class="lead">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <p class="lead">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- CONTACT -->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <div class="text-center">
                    <h2 class="page-section-heading text-secondary d-inline-block mb-0">Me contacter</h2>
                </div>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Content-->
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="d-flex flex-column align-items-center">
                            <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                            <div class="text-muted">Téléphone</div>
                            <div class="lead font-weight-bold">
                                <p>06 05 10 15 20</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex flex-column align-items-center"  data-toggle="modal" data-target="#form-contact">
                            <div class="icon-contact mb-3">
                                <i class="far fa-comment-dots"></i>
                            </div>
                            <div class="text-muted">Formulaire</div>
                            <div class="lead font-weight-bold">
                                <p>Ecrivez-moi</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex flex-column align-items-center">
                            <div class="icon-contact mb-3">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="text-muted">Email</div>
                            <a class="lead font-weight-bold" href="mailto:name@example.com">
                                <p>j.jacquet.contact@gmail.com</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{ include('includes/modals/form_contact.twig') }}
        {{ include('includes/modals/form_register.twig') }}
    </div>
{% endblock content %}
